:root {
  --accent-color: #fb6d3a;
  --light-font-color: #fff;
  --dark-font-color: #000000;
  --desc-font-color: #595959;
  --after-title-color: #a8a8a8;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #f5f7fa;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}

/* sidebar styles */
.sidebar {
  background: #1e2939;
  width: 370px;
  padding-top: 40px;
}
.sidebar__photo {
  width: 370px;
  margin-bottom: 50px;
}
.sidebar__contacts {
  margin-bottom: 50px;
  margin-left: 40px;
}
.sidebar__tech-skills {
  margin-bottom: 45px;
  margin-left: 40px;
}
.sidebar__soft-skills {
  margin-left: 40px;
}

.contacts__title {
  color: var(--light-font-color);
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}
.contacts__type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: var(--light-font-color);
  margin-right: 5px;
}
.contacts__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #565e6a;
}

.tech-skills__title,
.soft-skills__title {
  color: var(--light-font-color);
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

.tech-skills__list,
.soft-skills__list {
  padding: 0;
  margin-left: 20px;
}

.tech-skills__item,
.soft-skills__item {
  color: var(--accent-color);
}

.tech-skills__text,
.soft-skills__text {
  color: var(--light-font-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.content {
  background: #ffffff;
  width: 830px;
  padding: 105px 90px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
.content__portfolio {
  margin-bottom: 50px;
}
.content__experience {
  margin-bottom: 45px;
  width: 525px;
}

.about__pre-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: var(--dark-font-color);
  margin-bottom: 20px;
}
.about__title {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: var(--dark-font-color);
  margin-bottom: 25px;
}
.about__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--desc-font-color);
  width: 400px;
}

.portfolio__list {
  padding: 0;
  margin-left: 15px;
}
.portfolio__item, .portfolio__bracket {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: var(--dark-font-color);
}
.portfolio__wrap, .portfolio__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--desc-font-color);
}
.portfolio__link {
  margin-left: 10px;
}

.experience__title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--dark-font-color);
  margin-bottom: 10px;
}
.experience__title-wrap {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--accent-color);
}
.experience__after-title {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--after-title-color);
  margin-bottom: 10px;
}
.experience__line {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--dark-font-color);
}
.experience__description-list {
  padding: 0;
  margin-left: 15px;
}
.experience__description-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--desc-font-color);
}

.education {
  width: 525px;
}
.education__after-title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--accent-color);
}
.education__description {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: var(--dark-font-color);
  margin-bottom: 11px;
}
.education__text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--after-title-color);
  margin-bottom: 10px;
}/*# sourceMappingURL=main.css.map */