body {
	font-family: "Montserrat", sans-serif;
	background: #f5f7fa;
}

.main {
	display: flex;
	flex-direction: row-reverse;
	width: 1200px;
	margin: 0 auto;
}

.title {
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 27px;
	color: #000000;
	margin-bottom: 10px;
}
